@{
    ViewData["Title"] = "Home Page";
}
<div class="content">
    <h1>WHO Recognized Organization</h1>
    <p>We have been in service since 2006, and we have saved 120 million tons of waste from the ocean.</p>
    <div class="button">
        <a href="#">Our Services</a>
    </div>
</div>
<section class="featured">
    <p>AS FEATURED IN</p>
    <div class="logos">
        <img src="~/asset/techcrunch.png" alt="TechCrunch">
        <img src="~/asset/business-insider.png" alt="Business Insider">
        <img src="~/asset/the-new-york-times.png" alt="The New York Times">
      @*   <img src="~/asset/forbes.png" alt="Forbes"> *@
        <img src="~/asset/usa-today.png" alt="USA Today">
    </div>
</section>

<section class="services-section">
    <h2>Our Services</h2>
    <div class="services-container">
        <div class="service-card">
            <div class="icon">
                <img src="~/asset/no-plastic.png" alt="Service Icon 1">
            </div>
            <h3>Plastic-Free Alternatives Advocacy</h3>
            <p>This service would focus on urging government leaders to pass policies that reduce plastic production and require companies to phase out unnecessary single-use plastic products. Your organization could provide resources and support for individuals to take action and make their voices heard.</p>
        </div>
@*         <div class="service-card">
            <div class="icon">
                <img src="/icon2.png" alt="Service Icon 2">
            </div>
            <h3>Sustainable Seafood Certification</h3>
            <p>This service would involve certifying seafood that is sustainably sourced from well-managed, wild fisheries. Your organization could provide a label or certification that consumers can look for when purchasing seafood, ensuring that their choices are healthy for both them and the oceans.</p>
        </div>
        <div class="service-card">
            <div class="icon">
                <img src="/icon3.png" alt="Service Icon 3">
            </div>
            <h3>Beach Cleanup and Education Events</h3>
            <p>This service would help businesses and individuals make informed choices about the products they use and sell. Your organization could provide guidance on avoiding products that harm endangered species, contribute to pollution, or support unsustainable fishing methods.</p>
        </div> *@
        <div class="service-card">
            <div class="icon">
                <img src="~/asset/sustainability.png" alt="Service Icon 4">
            </div>
            <h3>Ocean-Friendly Product Consulting</h3>
            <p>This service would involve organizing beach cleanup events and educational activities to raise awareness about the importance of protecting our oceans. Your organization could partner with local communities and schools to provide resources and support for these events.</p>
        </div><div class="service-card">
            <div class="icon">
                <img src="~/asset/carbon-footprint.png" alt="Service Icon 4">
            </div>
            <h3>Carbon Footprint Reduction Consulting</h3>
            <p>This service would focus on helping individuals and businesses reduce their carbon footprint and mitigate the impact of climate change on our oceans. Your organization could provide guidance on reducing energy consumption, investing in renewable energy, and implementing sustainable practices..</p>
        </div>
    </div>
</section>

<section class="section-testimonials" id="testimonials">
    <div class="testimonials-container">
        <span class="subheading">Testimonials</span>
        <h2 class="heading-secondary">"We're on the verge of chaos; our actions now will shape the next 100 years."</h2>

        <div class="testimonials">
@*             <figure class="testimonial">
                <img class="testimonial-img"
                     src="asset/dave.jpg"
                     alt="Photo of customer Dave Bryson" />
                <blockquote class="testimonial-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam reiciendis obcaecati iure minima vel. Atque, tempore inventore, autem nisi amet dignissimos nesciunt dicta nemo voluptate praesentium aperiam corporis, repellat maiores!
                </blockquote>
                <p class="testimonial-name">&mdash; Dave Bryson</p>
            </figure> *@
            <figure class="testimonial">
                <img class="testimonial-img"
                     src="~/asset/ben.jpg"
                     alt="Photo of customer Ben Hadley" />
                <blockquote class="testimonial-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam reiciendis obcaecati iure minima vel. Atque, tempore inventore, autem nisi amet dignissimos nesciunt dicta nemo voluptate praesentium aperiam corporis, repellat maiores!
                </blockquote>
                <p class="testimonial-name">&mdash; Ben Hadley</p>
            </figure>
            <figure class="testimonial">
                <img class="testimonial-img"
                     src="~/asset/steve.jpg"
                     alt="Photo of customer Steve Miller" />
                <blockquote class="testimonial-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam reiciendis obcaecati iure minima vel. Atque, tempore inventore, autem nisi amet dignissimos nesciunt dicta nemo voluptate praesentium aperiam corporis, repellat maiores!
                </blockquote>
                <p class="testimonial-name">&mdash; Steve Miller</p>
            </figure>
            <figure class="testimonial">
                <img class="testimonial-img"
                     src="~/asset/hannah.jpg"
                     alt="Photo of customer Hannah Smith" />
                <blockquote class="testimonial-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam reiciendis obcaecati iure minima vel. Atque, tempore inventore, autem nisi amet dignissimos nesciunt dicta nemo voluptate praesentium aperiam corporis, repellat maiores!
                </blockquote>
                <p class="testimonial-name">&mdash; Hannah Smith</p>
            </figure>
        </div>
    </div>

    <section class="subscribe">
        <div class="subscribe-container">
            <h2>Subscribe to Our Newsletter</h2>
            <p>Get the latest updates and special offers delivered directly to your inbox.</p>
            <form class="subscribe-form" action="#">
                <input type="email" name="email" placeholder="Your Email Address" required>
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </section>
