
<section class="about-us">
    <div class="about-container">
        <div class="image">
            <img src="~/asset/water.jpg" alt="About Us Image">
        </div>
        <div class="about-content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="about-btn">Learn More</a>
        </div>
    </div>
</section>

<section class="team-section">
    <h2>Our Team Members</h2>
    <div class="team-container">
        <div class="team-card">
            <div class="profile-pic">
                <img src="~/asset/ben.jpg" alt="Team Member 1">
            </div>
            <h3>John Doe</h3>
            <p>CEO</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque libero, convallis non purus non, feugiat aliquet orci.</p>
            <div class="social-media">
                <a href="#"><img src="~/asset/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="~/asset/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="~/asset/linkedin.png" alt="LinkedIn"></a>
            </div>
        </div>
        <div class="team-card">
            <div class="profile-pic">
                <img src="~/asset/dave.jpg" alt="Team Member 2">
            </div>
            <h3>Jane Smith</h3>
            <p>CTO</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque libero, convallis non purus non, feugiat aliquet orci.</p>
            <div class="social-media">
                <a href="#"><img src="~/asset/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="~/asset/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="~/asset/linkedin.png" alt="LinkedIn"></a>
            </div>
        </div>
        <div class="team-card">
            <div class="profile-pic">
                <img src="~/asset/hannah.jpg" alt="Team Member 2">
            </div>
            <h3>Jane Smith</h3>
            <p>CTO</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque libero, convallis non purus non, feugiat aliquet orci.</p>
            <div class="social-media">
                <a href="#"><img src="~/asset/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="~/asset/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="~/asset/linkedin.png" alt="LinkedIn"></a>
            </div>
        </div>

    </div>
</section>

